# Core API
fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
requests==2.32.3
python-multipart==0.0.20

# DB
sqlalchemy==2.0.37
psycopg2-binary==2.9.10

# Tests (Indispensables pour ton stage 'test' du pipeline)
pytest==8.3.4
pytest-cov==6.0.0
httpx==0.28.1